<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- default_layout 기준 css fragment 의 html 엘리먼트 구조를 상속받는다. -->
<!-- 현재 html 전용 CSS 추가 -->
<th:block layout:fragment="css">
<!--        <link rel="stylesheet" th:href="@{/css/common.css}" >-->
</th:block>
<!-- 현재 html 전용 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
    <script th:inline="javascript">
        function copyCodeBlock() {
            let r = document.createRange();
            r.selectNode(document.getElementById('codeBlock'));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(r);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
        }
    </script>
</th:block>

<!-- Content -->
<div layout:fragment="content" class="content-wrapper px-4 py-2" style="min-height: 363px;">
    <div class="content-header">
        <h1>Introduction</h1>
    </div>
    <div class="content px-2">
        <h2 id="sample-page">샘플 페이지</h2>
        <p>Base Project 의 샘플페이지 콘텐츠입니다.</p>
        <h3 id="sample-page-repo">샘플 페이지 코드</h3>
        <p>베이스 프로젝트에 thymeleaf 로 구현되어 있습니다. 베이스 프로젝트 레포지토리는 <a href="https://github.com/idean3885/BaseProejct">여기입니다.</a><br>
        <h2>cdn 적용</h2>
        <p>AdminLte3 cdn 주소입니다.</p>
        <div style="outline: auto" onclick="copyCodeBlock()">
            <span th:text="${codeBlockString}"></span>
            <code id="codeBlock" style="white-space: pre; display: flex">&lt;template&gt;
    &lt;v-switch
            v-model="model"
            hide-details
            inset
            :label="`Switch: ${model.toString()}`"
    >&lt;/v-switch&gt;
&lt;/template&gt;</code>
        </div>
    </div>
</div>
</html>